<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
	      "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd"><html lang="en-us">
          <head>
            <meta charset="utf-8" />
            <title></title>
            <meta name="viewport" content="width=720, height=1280, initial-scale=.5, maximum-scale=.5, minimum-scale=.5" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta names="apple-mobile-web-app-status-bar-style" content="black" />
            <link rel="stylesheet" title="stylesheet" type="text/css" href="/static/css/menu.css" media="all" />
            <link rel="icon" type="image/png" href="/static/i/favicon.png">
            <script src="/static/j/jquery.js"></script>
            <script src="/static/j/jquery-ui-1.8.21.custom.min.js"></script>
            <script src="/static/j/edit_menu.js"></script>
            <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs" data-app-key="cmwfxluk0dsb0dd"></script>
          </head>
          <body>
            <div class="menu">
              <div id="image-chooser">
                <div>
                    Choose Today's Pictures
                </div>
                <input type="dropbox-chooser" name="selected-file" style="visibility: hidden;" id="db-chooser" data-link-type="direct" data-multiselect=true />
                <div class="thumbs">
                  {% for thumb in thumbs %}
                    <span class="image-cell">
                      <div class="cancel delete-thumb"></div>
                      <img src="{{ thumb }}" />
                    </span>
                  {% endfor %}
                </div>
	          </div>
	          <ul id="sortable" class="menu-list" menu_id={{menu.id}}>
	            {% for menu_item in menu_items %}
	              <li class="dish" id={{menu_item.id}}>
	                <input type="text" class="dish-title" menu_item_id="{{menu_item.id}}" value="{{menu_item.name.decode('utf8')}}" />
	                <textarea class="description" id="description" menu_item_id="{{menu_item.id}}">{{menu_item.description.decode('utf8')}}</textarea>
	                <div class="allergens">
		              {% set selected_allergens = allergens[loop.index-1] %}
		              {% for allergen in allergen_list %}
		                {% set check = allergen in selected_allergens %}
		                {% if check %}
		                  <input class="checkbox" type="checkbox" menu_item_id="{{menu_item.id}}" allergenName="{{allergen}}" id="allergen" name="{{allergen}}" checked />
		                {% else %}
		                  <input class="checkbox" type="checkbox" menu_item_id="{{menu_item.id}}" allergenName="{{allergen}}" id="allergen" name="{{allergen}}" />
		                {% endif %}
		                <label class="check-label" for="city">{{allergen}}</label>
		              {% endfor %}
		              <div class="health-factor">
                        <br />
		                {% for healthy_level in healthy_factor %}
			              {% if menu_item.healthy == loop.index %}
		                    <input type="radio" class="healthy-selection" menu_item_id="{{menu_item.id}}" value="{{loop.index}}" name={{menu_item.id}} id={{menu_item.id}} checked />
		                  {% else %}
		                    <input type="radio" class="healthy-selection" menu_item_id="{{menu_item.id}}" value="{{loop.index}}" name={{menu_item.id}} id={{menu_item.id}} />
			              {% endif %}
			              <label for="{{healthy_level}}" class="check-label">{{healthy_level}}</label>
			            {% endfor %}
		              </div>
	                </div>
	                <div class="actions">
                      <a href="#" class="move"></a>
                      <div class="cancel delete" menu_item_id="{{menu_item.id}}">Delete</div>
                    </div>
                  </li>
                {% endfor %}
	          </ul>
            </div>
		    <div class="header">
	          <h1>Editing {{menu.date}}, {{three_meals[menu.time_sort_key-1]}}</h1>
	          <input type="text" class="title" id="menuTitle" value="{{menu.name.decode('utf8')}}" menu_id="{{menu.id}}" />
	          <div class="button" id="add-menu-item">Add a Dish</div>
	          <a class="back button" href="/{{cafe_id}}/edit">Back to Menus</a>
            </div>

            <div class="modal-wrap" id="add-menu-item-modal-wrap">
		      <form class="adding modal" id="add-menu-item-modal" action="{{ create_menu_item_url }}">
		        <h2>Add a Dish</h2>
		        <a class="cancel" href="#">cancel</a>
		        <label for="name">Dish Name</label>
		        <input type="text" id="name" name="name" />
			    <label for="description">Description</label>
			    <textarea class="description" name="description"></textarea>
			    <br />
			    <label>Allergens</label>
			    <div class="allergens">
			      {% for allergen in allergen_list %}
			        <div class="allergen">
			          <input class="checkbox" type="checkbox" id={{allergen}} name={{allergen}} />
			          <label class="check-label" for="checkbox">{{allergen}}</label>
			        </div>
			      {% endfor %}
                  </div>
			    <label>Health Factor</label>
			    <div class="health-factor">
			      {% for healthy_level in healthy_factor %}
			        <div class="healthy_level">
			          <input type="radio" class="checkbox" name="healthy" id="{{healthy_level}}" value="{{loop.index}}" />
				      <label for="{{healthy_level}}" class="check-label">{{healthy_level}}</label>
			        </div>
			      {% endfor %}
			    </div>
				<br />
				<button type="submit" class="button" id="add-menu-item-submit" name="submit">Add</buttton>
			  </form>
		    </div>
          </body>
</html>









