<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
          "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd"><html lang="en-us">
          <head>
            <meta charset="utf-8">
              <title></title>
              <meta name="viewport" content="width=720, height=1280, initial-scale=.5, maximum-scale=.5, minimum-scale=.5" />
              <meta name="apple-mobile-web-app-capable" content="yes" />
              <meta names="apple-mobile-web-app-status-bar-style" content="black" />
              <link rel="stylesheet" title="stylesheet" type="text/css" href="/static/css/menu.css" media="all" />
              <link rel="icon" type="image/png" href="/static/i/favicon.png">
              <script src="/static/j/jquery.js"></script>
              <script src="/static/j/analytics.js"></script>
              <script src="/static/j/view_menus.js"></script>
            </head>
            <body class="index">
              {% block populate_menus %}
                <div class="menu index">
                  <ul class="menu-index">
                    {% for weekly_menus in menus %}
                      <li class="divider">
	                    <div class="divider-title">Week of {{week_start_list[loop.index-1]}}</div>
                      </li>
                      {% for menu in weekly_menus %}
                        {% set selectedMeal = three_meals[menu.time_sort_key-1] %}
                        <li class="dish">
	                      <a href="{{menu_url_prefix}}{{menu.id}}">
	                        <span class="dish-title">{{menu.name.decode('utf8')}}</span><span class="date">{{selectedMeal}}, {{menu.date.strftime("%A, %m/%d/%y")}}</span></a>
	                    </li>
                      {% endfor %}
                    {% endfor %}
                  </ul>
                </div>
              {% endblock populate_menus %}

              <div class="header">
                <h1>All Menus</h1>
                {% block head %}
                  <a class="button" id="import-to-google-calendar" href="https://www.google.com/calendar/render?cid=dropbox.com_a4mvuefvs56vpn3k0780pfh4t4@group.calendar.google.com">Import to Google Calendar</a>
                  <div class="button feedback" id="submit-feedback">Website Feedback</div>
                {% endblock head%}
              </div>
              <div class="head">
                <div class="picker button">{{selected_month_string}}</div>
                <ul class="nav">
                  <div class="beak"></div>
                  <span>
                    {% block month_picker %}
                      {% for month_menu in month_menus %}
                        <li><a href="{{menus_monthly_url_prefix}}{{month_menu[0][1]}}/{{month_menu[0][0]}}">{{month_menu[1]}}</a></li>
                      {% endfor %}
                    {% endblock month_picker %}
                  </span>
                </ul>
              </div>

              {% block addMenu %}
              {% endblock addMenu %}

              {% block feedbackform %}
                <div class="feedback-form">
                  <div class="feedbackf">
                    <a class="cancel" href="#">cancel</a>
                    <iframe src="https://docs.google.com/a/dropbox.com/spreadsheet/embeddedform?formkey=dHBfdGlPUHBoNUN1ZjhGYnJXZV9PclE6MQ" width="760" height="625" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                  </div>
                </div>
              {% endblock feedbackform%}
            </body>
          </html>









