<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
          "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd"><html lang="en-us">
          <head>
            <meta charset="utf-8" />
            <title></title>
            <meta name="viewport" content="width=720, height=1280, initial-scale=.5, maximum-scale=.5, minimum-scale=.5" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta names="apple-mobile-web-app-status-bar-style" content="black" />
      	    <link rel="stylesheet" type="text/css" href="/static/css/menu.css" media="all" />
            <link rel="stylesheet" type="text/css" href="/static/css/print.css" media="print" />
            <link rel="icon" type="image/png" href="/static/i/favicon.png">
            <script src='/static/j/jquery.js'></script>
            <script src='/static/j/analytics.js'></script>
          </head>
          <body>
            <div class="menu">
              <ul class="menu-list">
	            {% for menu_item in menu_items %}
	              <li class="dish">
	                <div class="dish-title">
	                  {% if menu_item.healthy %}
	                    {% set healthyImageName = "/static/i/healthy" ~ menu_item.healthy ~ "_print.png" %}
                        <img src={{healthyImageName}} width="20" height="20" center/>
	                  {% endif %}
	                  {{menu_item.name.decode('utf8')}}
	                </div>
	                {% if menu_item.description.decode('utf8') %}
	                  <div class="description">
	                    {% for item_line in menu_item.description.decode('utf8').split('\n') %}
	                      {{item_line}}<br/>
	                    {% endfor %}
	                  </div>
	                {% endif %}
	                <div class="allergen-images">
                      {% set menu_allergens = allergens[loop.index-1] %}
	                  {% for restriction in menu_allergens %}
	                    {% set imageName = "/static/i/" + restriction + ".png" %}
                        <img src={{imageName}} alt="{{restriction}}" title="{{restriction}}" width="20" height="20" />
	                  {% endfor %}
	                  <br class="clear" />
	                </div>
	              </li>
                {% endfor %}
              </ul>
            </div>
            <div class="header">
              <h1>Viewing {{menu.date}}, {{three_meals[menu.time_sort_key-1]}}</h1>
              <div class="read-title">{{menu.name.decode('utf8')}}</div>
              <a class="back button" href="/{{cafe_id}}/">Back to Menus</a>
            </div>
          </body>
</html>
