body {
  background: #eee;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  margin: 0;
  padding: 0;
  font-family: Opensans, helvetica, sans-serif;
}
* {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
html {
  height: 100%;
}
body.display {
  min-height: 100%;
  background: #fff url("../i/logo.png") center 50px no-repeat;
}
body.display .dish {
  padding: 10px 10px 50px;
}

.divider {
    background: #EEE;
}
.divider-title {
    padding: 5px 5px 5px 5px;
   text-align: center;
   font-size: 13px;
   color: #999;
}
h3{
font-weight: normal;
font-size: 14px;	
}

.dish img {
  vertical-align: bottom;
  margin-right: 5px;
}
.header {
  margin: 0 0 0 -370px;
  padding: 0;
  position: fixed;
  left: 50%;
  height: 70px;
  width: 750px;
  top: 0;
  background: #eee;
  z-index: 9999999;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}	
.head {
  margin: 0px 0 0 -350px;
  padding: 0;
  position: fixed;
  left: 50%;
  height: 44px;
  width: 700px;
  top: 70px;
  background: #eee;
  z-index: 9999999;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  line-height: 25px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #eee;
/* layer fill content */
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.19), 0 2px 1px #fff, inset 0 1px 0 #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.19), 0 2px 1px #fff, inset 0 1px 0 #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(240,240,240,0.1)), color-stop(1, rgba(255,255,255,0.9)));
  background-image: -webkit-linear-gradient(bottom, rgba(240,240,240,0.1) 0%, rgba(255,255,255,0.9) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(240,240,240,0.1) 0%, rgba(255,255,255,0.9) 100%);
  background-image: -o-linear-gradient(bottom, rgba(240,240,240,0.1) 0%, rgba(255,255,255,0.9) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(240,240,240,0.1) 0%, rgba(255,255,255,0.9) 100%);
  background-image: linear-gradient(bottom, rgba(240,240,240,0.1) 0%, rgba(255,255,255,0.9) 100%);
/* gradient fill */
}
.menu {
  margin: 100px auto;
  overflow: auto;
  padding: 20px 0 0 0;
  font-family: Opensans, helvetica, sans-serif;
  width: 700px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #fff url("../i/logo.png") center 50px no-repeat;
  -webkit-box-shadow: 0 2px 20px rgba(0,0,0,0.1);
  box-shadow: 0 2px 20px rgba(0,0,0,0.1);
  border: 1px solid #aaa;
  border-top: 1px solid #bbb;
}
.menu.index {
  background: #fff;
  padding: 0;
  margin-top: 114px;
}
.menu-index {
  padding: 0;
  margin: 0;
}
.menu-index li {
  padding: 0;
  border-bottom: 1px solid #eee;
  width: 700px;
  float: left;
  list-style: none;
}
.menu-index li .date {
  float: right;
  color: #aaa;
  font-size: 12px;
  padding-top: 4px;
}
.menu-index li a {
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  width: 660px;
  float: left;
  text-decoration: none;
  color: #777;
}
.menu-index li a:hover {
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  width: 660px;
  float: left;
  text-decoration: none;
  background: rgba(255,255,255,0.8);
}
.menu-index li a:active {
  -webkit-box-shadow: inset 0 1px 15px rgba(0,0,0,0.01), 0 0px 1px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 15px rgba(0,0,0,0.01), 0 0px 1px rgba(0,0,0,0.5);
  background: rgba(98,118,250,0.1);
}
.menu-display {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.menu-list {
  margin: 2em 0;
  padding: 0;
  text-align: center;
}
.menu-list li {
  list-style: none;
}
.menu-list .dish {
  padding: 20px 50px 0;
  list-style: none;
  width: 30em;
  margin: 10px 10px 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
label,
input {
  display: block;
  float: left;
  margin-bottom: 10px;
}
label {
  text-align: right;
  padding-right: 20px;
}
label.check-label {
  margin: 0 10px 10px 0;
  font-size: 11px;
  padding:3px 0 0 0;
}

form.adding-menu {
    height: 200px !important;
}
.checkbox {
  width: 2em;
  padding-right: 20px;
}
br {
  clear: left;
}
h1 {
  font-size: 15px;
  color: #999;
  font-weight: normal;
  left: 17%;
  top: 4%;
  z-index: 999999;
  text-align: center;
  margin: 15px 0 0 0;
}
.index h1 {
  font-size: 18px;
  text-align: left;
  margin: 25px 0 0 20px;
}
input.dish-title {
  font-size: 16px;
  color: #555;
  font-weight: normal;
  margin: 0;
  padding: 0 0 0.2em 4px;
  display: inline-block;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline: none;
  margin-bottom: -5px;
  width: 100%;
}
input.dish-title:hover {
  border: 4px solid rgba(0,0,0,0.1);
  z-index: 999999;
}
input.dish-title:focus {
  background: #fff;
  padding: 10px;
  border: 3px solid rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.1);
  box-shadow: inset 0 3px 8px rgba(0,0,0,0.1);
  z-index: 999999;
}
.description {
  font-size: 13px;
  color: #888;
  margin: 0;
  padding: 5px 5px 0;
  width: 500px;
  line-height: 1.3em;
  border: 4px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: visible;
  width: 100%;
}
.allergen-images {
    padding: 4px 0 0 0;
}
.menu textarea.description:hover {
  border: 4px solid rgba(0,0,0,0.1);
  z-index: 999999;
}
.menu textarea.description:focus {
  padding: 10px;
  border: 3px solid rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.1);
  box-shadow: inset 0 3px 8px rgba(0,0,0,0.1);
  z-index: 999999;
}
textarea.description {
  -webkit-appearance: none;
  -moz-appearance: none;
}
textarea,
input {
  outline: none;
}
a.button {
  display: block;
  text-decoration: none;
  color: #999;
  text-align: center;
  font-size: 12px;
}

button.button{
border: 0;
}


.button {
  width: 120px;
  line-height: 25px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: rgba(255,255,255,0.4);
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.19), 0 2px 1px #fff, inset 0 1px 0 #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.19), 0 2px 1px #fff, inset 0 1px 0 #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(180,180,180,0.19)), color-stop(1, rgba(255,255,255,0.19)));
  background-image: -webkit-linear-gradient(bottom, rgba(180,180,180,0.19) 0%, rgba(255,255,255,0.19) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(180,180,180,0.19) 0%, rgba(255,255,255,0.19) 100%);
  background-image: -o-linear-gradient(bottom, rgba(180,180,180,0.19) 0%, rgba(255,255,255,0.19) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(180,180,180,0.19) 0%, rgba(255,255,255,0.19) 100%);
  background-image: linear-gradient(bottom, rgba(180,180,180,0.19) 0%, rgba(255,255,255,0.19) 100%);
  margin: 10px;
}
.button:hover {
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.13), 0 0 0 1px rgba(0,0,0,0.19);
  box-shadow: 0 2px 2px rgba(0,0,0,0.13), 0 0 0 1px rgba(0,0,0,0.19);
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0,0,0,0.07)), color-stop(1, rgba(255,255,255,0.07)));
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.07) 0%, rgba(255,255,255,0.07) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.07) 0%, rgba(255,255,255,0.07) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.07) 0%, rgba(255,255,255,0.07) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.07) 0%, rgba(255,255,255,0.07) 100%);
  background-image: linear-gradient(bottom, rgba(0,0,0,0.07) 0%, rgba(255,255,255,0.07) 100%);
}
.button:active {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(180,180,180,0.33)), color-stop(1, rgba(255,255,255,0.33)));
  background-image: -webkit-linear-gradient(bottom, rgba(180,180,180,0.33) 0%, rgba(255,255,255,0.33) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(180,180,180,0.33) 0%, rgba(255,255,255,0.33) 100%);
  background-image: -o-linear-gradient(bottom, rgba(180,180,180,0.33) 0%, rgba(255,255,255,0.33) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(180,180,180,0.33) 0%, rgba(255,255,255,0.33) 100%);
  background-image: linear-gradient(bottom, rgba(180,180,180,0.33) 0%, rgba(255,255,255,0.33) 100%);
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.25), 0 2px 0 rgba(255,255,255,0.48), inset 0 1px 3px rgba(0,0,0,0.16);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.25), 0 2px 0 rgba(255,255,255,0.48), inset 0 1px 3px rgba(0,0,0,0.16);
}
.button.add-dish {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 99999;
}
.button.add-dish.long {
    width:170px;
}
.circle-button {
  width: 50px;
  height: 0px;
  padding-top: 50px;
  display: block;
  overflow: hidden;
  opacity: 0.1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  filter: alpha(opacity=10);
}
.actions {
  display: none;
}
.dish:hover .actions {
  display: block;
}
.move {
  position: absolute;
  top: 26px;
  left: -10px;
  background: url("../i/arrows.png") no-repeat;
}
.delete {
  position: absolute;
  top: 2px;
  right: 2px;
  background:url("../i/cancel.png") no-repeat;
}
.add-above {
  position: absolute;
  top: 25px;
  right: 40px;
}
.remove {
  position: absolute;
  top: 25px;
  right: 0px;
}
.clear {
  clear: both;
  height: 0;
}
.allergens {
  padding: 0 0 15px 5px;
  float: left;
  width:570px;
}
.read-title {
  font-size: 16px;
  color: #555;
  font-weight: normal;
  padding: 0 0 0.2em 4px;
  display: block;
  background: none;
  border: 4px solid #eee;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  width: 400px;
  margin: 0 0 0 165px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.title {
  font-size: 16px;
  color: #555;
  font-weight: normal;
  padding: 0 0 0.2em 4px;
  display: block;
  background: none;
  border: 4px solid #eee;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  width: 400px;
  margin: 0 0 0 165px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.title:hover {
  border: 4px solid rgba(0,0,0,0.1);
  z-index: 999999;
}
.title:focus {
  background: #fff;
  margin: 0 0 0 158px;
  padding: 10px;
  border: 3px solid rgba(0,0,0,0.3);
  outline: none;
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.1);
  box-shadow: inset 0 3px 8px rgba(0,0,0,0.1);
}
.back {
  position: absolute;
  left: 10px;
  top: 15px;
}

h2 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.feedback-form {
  position: fixed;
  height: 0%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  background: rgba(250,250,250,0.8);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  z-index: 99999999;
}
.feedback-form.display {
  height: 100%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.feedbackf {
  width: 760px;
  padding: 0px;
  border: 1px solid #999;
  border-top: 1px solid #aaa;
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  position: absolute;
  height: 630px;
  top: 5550px;
  background: #fff;
  left: 50%;
  margin-left: -350px;
  margin-top: -230px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: 999999999;
  overflow: hidden;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 35px;
}
.feedbackf.display {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 35%;
}
.modal-wrap {
  position: fixed;
  height: 0%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  background: rgba(250,250,250,0.8);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  z-index: 99999999;
}
.modal-wrap.display {
  height: 100%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.modal-wrap input:not([type="radio"]),
.modal-wrap textarea {
  font-size: 15px !important;
  width: 590px;
  padding: 15px;
  border: 1px solid #999;
  border-top: 1px solid #aaa;
  -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
  box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
  background: #fff;
  -webkit-transition: all 0.1s ease-in-out 0.1s;
  -moz-transition: all 0.1s ease-in-out 0.1s;
  -o-transition: all 0.1s ease-in-out 0.1s;
  -ms-transition: all 0.1s ease-in-out 0.1s;
  transition: all 0.1s ease-in-out 0.1s;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.modal-wrap .meal label {
  display: inline-block;
}
.modal-wrap label {
  width: 100%;
  text-align: left;
  margin: 15px 0 5px 0;
}
.modal-wrap label.check-label {
  width: 5.5em;
  text-align: left;
  margin: 0;
  float: left;
}
.modal-wrap input.checkbox {
  width: inherit;
  text-align: left;
  margin-left: 0;
  float: left;
}
.modal {
  width: 630px;
  padding: 0px;
  border: 1px solid #999;
  border-top: 1px solid #aaa;
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  position: absolute;
  height: 400px;
  top: 5550px;
  background: #fff;
  left: 50%;
  margin-left: -350px;
  margin-top: -230px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: 999999999;
  overflow: hidden;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 35px;
}
.modal.display {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 50%;
}
.cancel {
  background: #000 url("../i/x.png") 7px 7px no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 1px solid;
  height: 0;
  width: 24px;
  overflow: hidden;
  padding-top: 24px;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
.cancel:active {
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
.nav {
  border: 1px solid;
  width: 170px;
  position: absolute;
  left: 10px;
  top: 37px;
  padding: 0;
  background: rgba(213,229,255,0.8);
  border: 1px solid #999;
  -webkit-box-shadow: 0 9px 16px rgba(0,0,0,0.2), inset 0 1px 2px #fff;
  box-shadow: 0 9px 16px rgba(0,0,0,0.2), inset 0 1px 2px #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  display: none;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.nav.display {
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 298px;
  background: rgba(255,255,255,0.8);
}
.nav li a {
  list-style: none;
  margin: 0;
  padding: 10px;
  font-size: 13px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ddd;
  width: 278px;
  display: block;
}
.nav li a:hover {
  background: #fff;
}
.nav span {

display: block;
border: 1px solid rgba(0, 0, 0, .3);
margin: 4px;
height: 190px;
overflow-y: scroll;
overflow-x: hidden;
border-radius: 2px;


}
.beak {
  position: absolute;
  top: -17px;
  left: 50px;
  z-index: 9999;
}
li.year {
  background-color: #fff;
  background: url(gradient-data-uri(create-gradient-image(30px, bottom)));
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dde9ff), color-stop(1, #fff));
  background-image: -webkit-linear-gradient(bottom, #dde9ff 0%, #fff 100%);
  background-image: -moz-linear-gradient(bottom, #dde9ff 0%, #fff 100%);
  background-image: -o-linear-gradient(bottom, #dde9ff 0%, #fff 100%);
  background-image: -ms-linear-gradient(bottom, #dde9ff 0%, #fff 100%);
  background-image: linear-gradient(bottom, #dde9ff 0%, #fff 100%);
  width: 298px;
  border-bottom: 1px solid #999;
}
li.year a {
  color: #333;
  text-decoration: none;
  width: 288px;
  padding: 0 0 0 10px;
  font-size: 12px;
  font-weight: bold;
  color: #888;
  text-shadow: 0 1px 0 #fff;
  border: none;
  background: none;
}
li.year a:hover {
  color: #333;
  text-decoration: none;
  background-color: #fff;
  background: url(gradient-data-uri(create-gradient-image(30px, bottom)));
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dde9ff), color-stop(1, #fff));
  background-image: -webkit-linear-gradient(bottom, #dde9ff 0%, #fff 100%);
  background-image: -moz-linear-gradient(bottom, #dde9ff 0%, #fff 100%);
  background-image: -o-linear-gradient(bottom, #dde9ff 0%, #fff 100%);
  background-image: -ms-linear-gradient(bottom, #dde9ff 0%, #fff 100%);
  background-image: linear-gradient(bottom, #dde9ff 0%, #fff 100%);

}
.floatright {
  float: right;
}
#additem {
  position: absolute;
  top: 20px;
  left: 20px;
}

.dish .logo {
    display:none;
}
.add-dish.button.feedback{
   right:200px;
   width:120px;
}

@media only screen and (min-width: 400px) {
  .menu-list {
    padding: 2em 0.2em;
  }
  body.display .dish {
    width: 24em;
  }
  body.display .dish-title {
    font-size: 1.6em;
  }
  body.display .description {
    font-size: 1.2em;
  }
  body.display .dish-allergen {
      width: 1.2em;
      height: 1.2em;
  }
}

